html {
    scroll-behavior: smooth;
    max-width: 100%;
    margin: 0;
 }
 :root {
    --corprincipal: #564444;
    --corsecundaria: #F470A1;
    --corterciaria: #ffd7e1;
    --corbranca: #fff;
}
body{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--corbranca);
    display: grid;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
}
#buttondarkmode{
    background-color: var(--corbranca);
    padding: 0.4rem;
    border-radius: 50%;
    border: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2%;
    left: 90%;
}
#svg{
    color: var(--corsecundaria);
    width: 15px;
    height: 15px;
}
[data-theme="dark"]{
    --corbranca:#564444;
    --corprincipal:#fff;
    --corterciaria:#3A194E;

}
.rosa{
    color: var(--corsecundaria);
}
#rosaclaro{
    color: var(--corterciaria);
}
#digital{
    width: 50px;
    position: absolute;
    left: 85%;
    top: 12%;
    animation-name: digital;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    z-index: 6;
    display: none;
}
@keyframes digital {
    from {}
    to {
      transform: rotate(25deg);
    }
  }
/* #detalhe1 {
    width: 20px;
    position: absolute;
    top: 220px;
    left: 15px;
    z-index: 4;
} */
#detalhe2{
    width: 35px;
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 3;
    transform: rotate(10deg);
}
#detalhe21{
    width: 40px;
    position: absolute;
    top: 270px;
    left: 100px;
    z-index: 0;
}
h1 {
    font-family: 'Lexend', sans-serif;
    color: var(--corprincipal);
}

#logo{
    height: 4rem;
    display: flex;
    flex-direction: column-reverse;
    line-height: 15px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center; 
    background-color: var(--corsecundaria);
}
#logo img{
    height: 60%;
    width: auto;
    object-fit: contain;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 0;
}
#logo h1{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
#seçaoinicial{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;  
    margin: 0;
    background-color: var(--corsecundaria);
}
#textoseçaoinicial{
    flex: 8;
    display: flex;
    flex-direction: column;
    color: var(--corprincipal);
    width: 100%;
    margin-left: 10px;
    margin-right: 0;
    z-index: 5;
}
#titulo1{
    width:  150%;
    height: 100%;
    margin: 0;
    font-size: 1.5rem;
}
#subtitulo{
    color: var(--corterciaria);
    width: 150%;
    margin: 0;
    margin-right: 10px;
    font-size: 0.8rem;
    z-index: 1;
}
#divimagemprinc{
    flex: 2;
    height: 100%;
    width: 80%;
}
#imgprincipal{
    margin: 0;
    height: 100%;
    object-fit: cover;
    z-index: 6;
}
#button1{
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    position: absolute;
    top: 320px;
    left: 8px;
    border: none;
    border-radius: 2rem;
    background-color: var(--corterciaria);
    color: var(--corprincipal);
    padding: 0.5rem;
    display: none;
}
#button1:hover{
    cursor: pointer;
    background-color: var(--corprincipal);
    color: var(--corterciaria)
}
#comeceaquimobile{
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttonmobile{
    font-family:'Lexend', sans-serif;
    width: 80%;
    margin: 0;
    padding: 15px;
    border: 0;
    font-size: 1.5rem;
    background-color: var(--corprincipal);
    color: var(--corsecundaria);
    border-radius: 5rem;
    animation-name: buttonmobile;
    animation-duration: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#buttonmobile:hover{
    cursor: pointer;
}
@keyframes buttonmobile {
    from {}
    to {
      color: var(--corprincipal);
    }
  }
#comeceaquimobile{
    margin: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
#divtextoprincipal2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#textoprincipal2{
    margin: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 1.3rem;
    text-align: center;
    color: var(--corprincipal);
}
.iconeimg{
    width: 60px;
    transition: transform 0.4s ease-in-out;
}
.textoicone{
    font-size: 1.3rem;
    color: var(--corprincipal);
}
#segundaseçao{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: var(--corbranca);
}
#icones{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconeimg:hover{
    width: 70px;
    transform: scale(1.1);
}
#explicacaoimagem {
    width: 100%;
    position: absolute;
    right: 0;
    opacity: 60%;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
}
#explicacaotextoconteiner{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
#explicacao {
    display: flex;
    height: 28.6rem;
    background-color: var(--corsecundaria);
    overflow: hidden;
    position: relative;
}
#textoexplicacao{
    width: 90%;
    z-index: 20;
    color: var(--corbranca);
    align-self: flex-end;
    text-align: justify;
    margin: 10px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-family: 'Lexend', sans-serif;
}
#tituloexplicacao{
    font-family: 'Poppins', sans-serif;
    z-index: 21;
    margin: 25px;
    margin-bottom: 0;
    color: var(--corbranca);
    font-size: 1.5rem;
    align-self: flex-end;
}

#terceiraseçao{
    background-color: var(--corprincipal);
    padding: 2rem;
}
#titulo3{
    font-family: 'Lexend', sans-serif;
    color: var(--corterciaria);
    text-align: center;
    background-color: var(--corprincipal);
    padding: 10px;
    margin: 0;
}
.emp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.nomeemp{
    font-size: 2rem;
    margin: 1rem;
    color: var(--corterciaria);
}
.textoemp{
    margin: 0;
    text-align: center;
    color: var(--corterciaria);
    margin-bottom: 10px;
    width: 85%;
}
#paula{
    width: 12rem;
}
#sabrina{
    width: 12rem;
}
#quartaseçao{
    background-color: var(--corterciaria);
    color: var(--corsecundaria);
    padding: 3rem;
}
#titulo4{
    font-family: 'Lexend', sans-serif;
    text-align: center;
    font-size: 1.4rem;
}
#texto4{
    text-align: center;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}
  #form input[type="text"] {
    width: 150%;
    height: 40px;
    font-size: 1rem;
    border-radius: 5rem;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    border: 0;
  }
  #form input[type="email"] {
    width: 150%;
    height: 40px;
    font-size: 1rem;
    border-radius: 5rem;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    border: 0;
  }
#form input[type="submit"] {
    align-self: center;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    padding: 15px;
    border-radius: 5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    border: 0;
    background-color: var(--corsecundaria);
    color: var(--corterciaria);
  }
footer{
    height: 7rem;
    display: flex;
    flex-direction: column;
}
#titulo5{
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: var(--corprincipal);
}
#parceiros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-left: 2rem;
    margin-right: 2rem;
}
.parceiro{
    width: 5rem;
}

@media only screen and (min-width: 150px) and (max-width: 250px) {
    #explicacao {
        height: 18.6rem;
    }
}

@media only screen and (min-width: 300px) and (max-width: 330px) {
    #explicacao {
        height: 25.3rem;
    }
}

@media only screen and (min-width: 360px) and (max-width: 380px) {
    #explicacao {
        height: 29.9rem;
    }
}

@media only screen and (min-width: 360px) and (max-width: 365px) {
    #explicacao {
        height: 28.6rem;
    }
}

@media only screen and (min-width: 380px) and (max-width: 420px) {
    #explicacao {
        height: 33.1rem;
    }
}

@media only screen and (min-width: 380px) and (max-width: 390px) {
    #explicacao {
        height: 30.6rem;
    }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
    #titulo1{
    width: 120%;
    }
    #subtitulo{
    width: 120%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 700px) {
    #titulo1{
    font-size: 1.7rem;
    width: 120%;
    }
    #subtitulo{
    font-size: 1rem;
    width: 120%;
    }
}
@media only screen and (min-width: 700px) and (max-width: 800px) {
    #titulo1{
    font-size: 1.7rem;
    width: 100%;
    }
    #subtitulo{
    font-size: 1rem;
    width: 100%;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
    #digital{
        left: 90%;
    }
    #titulo1{
    font-size: 2rem;
    width: 110%;
    }
    #subtitulo{
    font-size: 1.5rem;
    width: 110%;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
    #digital{
        left: 90%;
    }
    #titulo1{
    font-size: 3rem;
    width: 110%;
    }
    #subtitulo{
    font-size: 1.5rem;
    width: 110%;
    }
    #textoexplicacao{
    width: 80%;
    font-size: 1.5rem;
    }
    #tituloexplicacao{
        font-size: 2rem;
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1550px){
    #digital{
        display: flex;
    }
    #detalhe2{
        width: 100px;
    }
    #detalhe21{
        width: 100px;
        top: 60%;
        left: 60%;
    }
    #digital{
        left: 55%;
        top: 35%;
        width: 130px;
    }

    #seçaoinicial{
        height: 30rem;
    }
    #textoseçaoinicial{
        margin-left: 80px;
    }
    #titulo1{
        width: 100%;
        font-size: 4rem;
    }
    #subtitulo{
        width: 100%;
        font-size: 2.5rem;
    }
    #buttonmobile{
        display: none;
    }
    #button1{
        display: flex;
        font-size: 2rem;
        left: 34%;
        top: 420px;
        padding: 1rem;
    }
    #button1:hover{
        cursor: pointer;
    }
    #divtextoprincipal2{
        width: 100%;
    }
    #textoprincipal2{
        width: 80%;
        font-size: 2.5rem;
    }
    #segundaseçao{
        flex-direction: row;
        text-align: center;
        align-items: center;
    }
    .textoicone{
        width: 80%;
        font-size: 2rem;
    }
    .iconeimg{
        width: 80px;
    }
    #segundaseçao{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }
    .icones{
        width: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    .iconeimg:hover{
        width: 85px;
        transform: scale(1.1);
    }
    #explicacao {
        height: 35rem;
    }

    #textoexplicacao {
        width: 45%;
        margin: 30px;
        font-size: 1.5rem;
    }
    #explicacao{
        flex-direction: row-reverse;
        height: 35rem;
        background-color: #EA85A5;
    }
    #textoexplicacao{
        width: 45%;
        margin: 30px;
        font-size: 1.5rem;
    }
    #tituloexplicacao{
        font-size: 2.5rem;
    }
    #terceiraseçao{
        padding: 3rem;
        display: flex;
    }
    #titulo3{
        padding: 0;
        margin: 0;
        font-size: 3rem;
        align-self: center;
        width: 180%;
        justify-self: left;
        text-align: left;
    }
    .emp{
        margin-left: 2rem;
    }
    .nomeemp{
        font-size: 2.3rem;
    }
    .textoemp{
        font-size: 1.2rem;
        width: 85%;
    }
    #paula{
        width: 13rem;
    }
    #sabrina{
        width: 13rem;
    }
    #titulo4{
        font-size: 3rem;
    }
    #texto4{
        font-size: 2rem;
        margin-top: 0;
    }
    #form input[type="text"] {
        width: 60%;
        font-size: 1.5rem;
      }
      #form input[type="email"] {
        width: 60%;
        font-size: 1.5rem;
      }
      #form input[type="submit"]{
        font-size: 1.5rem;
        margin-top: 1rem;
      }
      #form input[type="submit"]:hover{
        cursor: pointer;
      }
      footer{
        height: 10rem;
      }
      #titulo5{
        font-size: 2rem;
      }
      .parceiro{
        width: 10rem;
      }
}
@media only screen and (min-width: 1550px) and (max-width: 1800px) {
    #digital{
        display: flex;
    }
    #detalhe2{
        width: 100px;
    }
    #detalhe21{
        width: 100px;
        top: 60%;
        left: 60%;
    }
    #digital{
        left: 55%;
        top: 35%;
        width: 130px;
    }

    #seçaoinicial{
        height: 30rem;
    }
    #textoseçaoinicial{
        margin-left: 80px;
    }
    #titulo1{
        width: 100%;
        font-size: 4rem;
    }
    #subtitulo{
        width: 100%;
        font-size: 2.5rem;
    }
    #buttonmobile{
        display: none;
    }
    #button1{
        display: flex;
        font-size: 2rem;
        left: 30%;
        top: 48%;
        padding: 1rem;
    }
    #button1:hover{
        cursor: pointer;
    }
    #divtextoprincipal2{
        width: 100%;
    }
    #textoprincipal2{
        width: 80%;
        font-size: 2.5rem;
    }
    #segundaseçao{
        flex-direction: row;
        text-align: center;
        align-items: center;
    }
    .textoicone{
        width: 80%;
        font-size: 2rem;
    }
    .iconeimg{
        width: 80px;
    }
    #segundaseçao{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }
    .icones{
        width: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    .iconeimg:hover{
        width: 85px;
        transform: scale(1.1);
    }
    #explicacao {
        height: 35rem;
    }

    #textoexplicacao {
        width: 45%;
        margin: 30px;
        font-size: 1.5rem;
    }
    #explicacao{
        flex-direction: row-reverse;
        height: 35rem;
        background-color: #EA85A5;
    }
    #textoexplicacao{
        width: 45%;
        margin: 30px;
        font-size: 1.5rem;
    }
    #tituloexplicacao{
        font-size: 2.5rem;
    }
    #terceiraseçao{
        padding: 3rem;
        display: flex;
    }
    #titulo3{
        padding: 0;
        margin: 0;
        font-size: 3rem;
        align-self: center;
        width: 180%;
        justify-self: left;
        text-align: left;
    }
    .emp{
        margin-left: 2rem;
    }
    .nomeemp{
        font-size: 2.3rem;
    }
    .textoemp{
        font-size: 1.2rem;
        width: 85%;
    }
    #paula{
        width: 13rem;
    }
    #sabrina{
        width: 13rem;
    }
    #titulo4{
        font-size: 3rem;
    }
    #texto4{
        font-size: 2rem;
        margin-top: 0;
    }
    #form input[type="text"] {
        width: 60%;
        font-size: 1.5rem;
      }
      #form input[type="email"] {
        width: 60%;
        font-size: 1.5rem;
      }
      #form input[type="submit"]{
        font-size: 1.5rem;
        margin-top: 1rem;
      }
      #form input[type="submit"]:hover{
        cursor: pointer;
      }
      footer{
        height: 10rem;
      }
      #titulo5{
        font-size: 2rem;
      }
      .parceiro{
        width: 10rem;
      }
}
